<div class="mx-auto searchWrapper col" id="search">
    <div class="d-flex aic">
        <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="searchInput form-control" />
        {# <input type="text" value="" name="s" class="searchInput form-control"
            placeholder="Keyword here..."> #}
        <button type="button" class="btn_theme search_btn mb-0">Search</button>
    </div>
</div>